<template>
  <span :class="type" class="logo">
    <img :src="logo" alt="logo" />
    {{ type !== 'only' ? brand.marketing.name : '' }}
  </span>
</template>

<style scoped lang="scss">
@import './logo-style.scss';
</style>

<script>
import logo from '~/static/images/marketing-logo.svg'
import brand from '~/static/text/brand'

export default {
  data() {
    return {
      brand: brand,
      // logo: logo
      logo:
        'https://herbalputihindonesia.com/wp-content/uploads/2020/10/LOGO-HERBAL-PUTIH-01-768x768.jpg'
    }
  },
  props: {
    type: {
      type: String,
      default: 'only'
    }
  }
}
</script>
