<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-8">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-9">
            <div class="font-medium text-3xl text-900">Setting User</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid" :style="isAuthBranch && !submitted ? 'display:null' : 'display: none;'">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Branch</label>
            <div class="col-12 md:col-9">
              <Dropdown v-model="form.branchCode" :options="listBranch" optionLabel="name" optionValue="code" placeholder="Select Branch" @change="searchRole" :disabled="submitted" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Role</label>
            <div class="col-12 md:col-9">
              <Dropdown v-model="form.roleCode" :options="listRole" optionLabel="name" optionValue="code" placeholder="Select Role" :disabled="submitted" />
            </div>
          </div>
          <div class="field grid" style="display: none">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
            <div class="col-12 md:col-9">
              <InputMask v-model="form.code" :value="form.code ? form.code.toUpperCase() : ''" mask="aaa" placeholder="CAPSLOCK" :disabled="true" autofocus />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Full Name</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.fullName" placeholder="Enter name" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Email</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.email" placeholder="Enter name" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Phone</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.phone" placeholder="Enter name" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">username</label>
            <div class="col-12 md:col-9">
              <div class="p-inputgroup">
                <InputText type="text" v-model="form.username" :value="form.username.replaceAll(' ', '')" placeholder="Enter username" :class="!isValidUser ? 'p-invalid' : 'p-valid'" />
                <Button :class="!isValidUser ? 'p-button-warning' : 'p-button-success'" :label="!isValidUser ? 'check' : 'valid'" @click="checkUser" />
              </div>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">password</label>
            <div class="col-12 md:col-9">
              <Password v-model="form.password">
                <template #header>
                  <h6>Pick a password</h6>
                </template>
              </Password>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Active Status</label>
            <div class="col-12 md:col-9">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-3 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
        <br />

        <div class="p-fluid grid">
          <div class="col-12 pt-1 mt-1">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-4">Default Division</label>
              <div class="col-6 md:col-8">
                <div class="login-input">
                  <Dropdown v-model="form.divisionCode" :options="form.listDivision" optionValue="code" optionLabel="name" placeholder="Select" />
                </div>
              </div>
            </div>
            <div class="field grid">
              <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 py-0 editable-cells-table" :resizableColumns="true" editMode="cell" :value="form.listDivision">
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">Division</label>
                    <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('division')" />
                  </div>
                </template>
                <Column header="#" style="width: 2rem">
                  <template #body="{ index }">
                    <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removeDivision(index)" />
                  </template>
                </Column>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="code" header="Division Code" style="white-space: nowrap; width: 10rem"></Column>
                <Column field="name" header="Division Name" style="white-space: nowrap; width: 20rem"></Column>
              </DataTable>
            </div>
          </div>
          <div class="col-12 pt-1 mt-1">
            <div class="field grid">
              <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 py-0 editable-cells-table" :resizableColumns="true" editMode="cell" :value="form.listItem">
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">Item</label>
                    <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('item')" />
                  </div>
                </template>
                <Column header="#" style="width: 2rem">
                  <template #body="{ index }">
                    <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removeItem(index)" />
                  </template>
                </Column>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="code" header="Item Code" style="white-space: nowrap; width: 10rem"></Column>
                <Column field="name" header="Item Name" style="white-space: nowrap; width: 20rem"></Column>
              </DataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam, formatOjectDate, uniqueElementsBy } from '@/utils/function';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { SettingControllers } from '@/controllers/setting/SettingControllers';
import { AuthControllers } from '@/controllers/auth/AuthControllers';

export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    setting: new SettingControllers(),
    auth: new AuthControllers(),
    submitted: false,
    isAuthBranch: store.state.isAuthBranch,
    listBranch: store.state.listBranch,
    listRole: [],
    isValidUser: false,
    form: {
      id: '',
      code: '',
      fullName: '',
      email: '',
      phone: '',
      username: '',
      password: '',
      branchCode: store.state.defaultBranchCode,
      divisionCode: '',
      roleCode: '',
      remark: '',
      activeStatus: true,
      listItem: [],
      listDivision: [],
    },
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.getData(getParam('code'));
    }
  },
  mounted() {
    this.searchRole();
  },
  methods: {
    async getData(data) {
      let temp = await this.setting.dataSetting('user', { code: data });
      this.form = temp.data;
    },
    async submit() {
      let BreakException = {};
      try {
        if (this.form.password.trim() == '') {
          this.$toast.add({ severity: 'warn', summary: 'password can not be empty', life: 3000 });
          throw BreakException;
        }
        if (!this.submitted) {
          this.checkUser();
          if (!this.isValidUser) {
            throw BreakException;
          }
        }

        if (!this.isError) {
          let formSubmit = formatOjectDate(this.form, ['']);
          if (this.submitted) {
            await this.setting.updateSetting('user', formSubmit);
            // this.cancel();
          } else {
            await this.setting.saveSetting('user', formSubmit);
            // this.cancel();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    cancel() {
      history.back();
    },
    async checkUser() {
      if (this.form.username.trim() == '') {
        this.$toast.add({ severity: 'warn', summary: 'username can not be empty', life: 3000 });
      } else {
        this.isValidUser = await this.auth.checkUser(this.form.username);
        if (!this.isValidUser) {
          this.$toast.add({ severity: 'warn', summary: 'username is exist', life: 3000 });
        }
      }
    },
    async searchRole() {
      let field = {
        branchCode: this.form.branchCode,
        activeStatus: true,
        page: 0,
        size: 1000,
        sort: 'Code,ASC',
      };
      let data = await this.setting.searchSetting('role', field);
      this.listRole = data.data;
    },
    removeItem(row) {
      this.form.listItem.splice(row, 1);
    },
    removeDivision(row) {
      this.form.listDivision.splice(row, 1);
    },
    lookupAddRow(modules) {
      let columns = [
        { field: 'code', header: 'Code', style: 'width:12rem' },
        { field: 'name', header: 'Name', style: 'width:20rem' },
      ];
      switch (modules) {
        case 'item':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Item', style: { width: '50vw' }, modal: true },
            data: { module: 'item', branchCode: this.form.branchCode, isMulti: true, columns: columns },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    code: datas.code,
                    name: datas.name,
                  };
                  !this.form.listItem ? (this.form.listItem = []) : this.form.listItem.push(detail);
                });
                this.form.listItem = uniqueElementsBy(this.form.listItem, (a, b) => a.code == b.code);
              }
            },
          });
          break;
        case 'division':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Division', style: { width: '50vw' }, modal: true },
            data: { module: 'division', branchCode: this.form.branchCode, isMulti: true, columns: columns },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    code: datas.code,
                    name: datas.name,
                  };
                  !this.form.listDivision ? (this.form.listDivision = []) : this.form.listDivision.push(detail);
                });
                this.form.listDivision = uniqueElementsBy(this.form.listDivision, (a, b) => a.code == b.code);
              }
            },
          });
          break;
        default:
          break;
      }
    },
  },
};
</script>
