<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<div class="surface-section">
					<div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
						<div>
							<div class="font-medium text-3xl text-900">Profile</div>
							<!-- <div class="flex align-items-center text-700 flex-wrap">
								<div class="mr-5 flex align-items-center mt-3">
									<i class="pi pi-users mr-2"></i>
									<span>332 Active Users</span>
								</div>
								<div class="mr-5 flex align-items-center mt-3">
									<i class="pi pi-globe mr-2"></i>
									<span>9402 Sessions</span>
								</div>
								<div class="flex align-items-center mt-3">
									<i class="pi pi-clock mr-2"></i>
									<span>2.32m Avg. Duration</span>
								</div>
							</div> -->
						</div>
					</div>
					<div class="text-500 mb-5">Berikut adalah data profile anda.</div>
					<ul class="list-none p-0 m-0">
						<li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
							<div class="text-500 w-6 md:w-2 font-medium">Nama Lengkap</div>
							<div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Heat</div>
						</li>
						<li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
							<div class="text-500 w-6 md:w-2 font-medium">Username</div>
							<div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
								<Chip label="Laki-Laki" class="mr-2"></Chip>
							</div>
						</li>
						<li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
							<div class="text-500 w-6 md:w-2 font-medium">Jabatan</div>
							<div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">Michael Mann</div>
						</li>
						</ul>
					</div>
					<br>
					<div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
						<div class="surface-border">
							<div class="font-medium text-3xl text-900">Change Password</div>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Password</label>
						<div class="col-12 md:col-5">
							<InputText type="text" v-model="form.password" placeholder="enter new password"/>
							<small class="p-invalid" v-if="isError && !form.password">password not match.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Re-Password</label>
						<div class="col-12 md:col-5">
							<InputText type="text" v-model="form.repassword" placeholder="enter password again"/>
							<small class="p-invalid" v-if="isError && !form.repassword">password not match.</small>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-2 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="change" class="p-button-warning" @Click="submit"></Button>
						</div>
					</div>
				</div>
			</div>
		</div>
</template>
<script>
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: "",
			name: "",
			remark: "",
			activeStatus: true,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('bank', {code: data});
			this.form = temp.data;
		},
		async submit() {
			if(this.submitted){
				await this.master.updateMaster('bank', this.form);
			}else{
				await this.master.saveMaster('bank', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
	}
}
</script>
