<template>
  <Toolbar class="mb-12 m-0 p-2">
    <Toast position="top-center" />
    <template v-slot:start>
      <label class="grid col-2 p-0 m-1">Search</label>
      <div class="grid col-4 p-0 m-1">
        <div class="col-12 p-0 m-0"><InputText type="text" @change="searchList" class="p-inputtext-sm" v-model="searchCode" placeholder="Vendor Invoice Code" disabled="true" style="width: 100%" /></div>
      </div>
      <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Item</label>
      <div class="col-12 md:col-8 grid m-0 p-0">
        <div class="col-6 md:col-6 m-0 p-1">
          <InputText type="text" class="p-inputtext-sm" @change="searchList" v-model="searchItemCode"  placeholder="Item Code"/>
        </div>
        <div class="col-6 md:col-6 m-0 p-1">
          <InputText type="text" class="p-inputtext-sm" @change="searchList" v-model="searchItemName"  placeholder="Item Name" />
        </div>
      </div>
    </template>
    <template v-slot:end>
      <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="code"
    scrollHeight="flex"
    class="col-12"
    :lazy="true"
    selectionMode="multiple"
    :metaKeySelection="false"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column field="code" header="Vendor Invoice Detail Code" style="min-width: 15em" :sortable="true"></Column>
    <Column field="itemCode" header="Item Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="itemName" header="Item Name" style="min-width: 45em" ></Column>
    <Column field="itemAlias" header="Item Alias" style="min-width: 45em" ></Column>
    <Column field="inventoryType" header="Inventory Type" style="min-width: 12em" ></Column>
    <Column field="quantity" header="Quantity" style="min-width: 12em" >
      <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
    </Column>
    <Column field="prtQuantity" header=" PRT Quantity" style="min-width: 12em" >
      <template #body="slotProps">{{ decimalCurrency(slotProps.data.prtQuantity) }}</template>
    </Column>
    <Column field="balancedQuantity" header="balanced Quantity" style="min-width: 10em" >
      <template #body="slotProps">{{ decimalCurrency(slotProps.data.balancedQuantity) }}</template>
    </Column>
    <Column field="unitOfMeasureCode" header="UOM" style="min-width: 12em" ></Column>
    <Column field="paymentTermCode" header="Term Code" style="min-width: 12em" hidden ></Column>
    <Column field="paymentTermName" header="Term Name" style="min-width: 12em" hidden></Column>
    <Column field="paymentTermDays" header="Term Days" style="min-width: 12em" hidden></Column>
    <Column field="nettPrice" header="Nett Price" style="min-width: 12em" >
      <template #body="slotProps">{{ decimalCurrency(slotProps.data.nettPrice) }}</template>
    </Column>
    <Column field="totalAmount" header="Total Amount" style="min-width: 12em" >
      <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalAmount) }}</template>
    </Column>
  </DataTable>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import { valdNull, decimalCurrency } from '@/utils/function';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';
export default {
  inject: ['dialogRef'],
  data: () => ({
    purchase: new PurchaseControllers(),
    list: [],
    searchItemCode: '',
    searchItemName: '',
    searchCode: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.searchCode = this.dialogRef.data.headerCode;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    showList() {
      console.log(this.selectedRows);
    },
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.selectedRows) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        }else{
          this.dialogRef.close(this.selectedRows);
        }
      }else{
        this.dialogRef.close();
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const field = {
        headerCode: this.searchCode,
        itemCode: this.searchItemCode,
        itemName: this.searchItemName,
        page: this.meta.page,
        size: this.meta.rows,
       sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'ASC',
      };
      let temp = await this.purchase.searchPurchase(this.module, field);
      this.totalRecords = temp.totalData;
      this.loading = false;
      return (this.list = temp.data);
    },
    onRowSelect(event) {
      return event;
    },
    onRowUnselect(event) {
      // this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
  },
};
</script>
