<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-8">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Generade Barcode</div>
          </div>
        </div>
        <form class="col-12 md:col-12">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4">Industry</label>
            <div class="col-12 md:col-4">
              <InputText v-model="form.branchCode" placeholder="branch code" disabled="true" />
            </div>
            <div class="col-12 md:col-4">
              <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4">Link Check</label>
            <div class="col-12 md:col-8">
              <InputText v-model="form.urlLink" placeholder="link qr" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4">Barcode Date</label>
            <div class="col-12 md:col-8">
              <Calendar id="icon" v-model="form.barcodeDate" :showIcon="true" dateFormat="dd/mm/yy" :showTime="true" hourFormat="24" :class="{ 'p-invalid': isError && form.barcodeDate != '' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4">Item</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <Dropdown v-model="form.selectedItem" :options="form.listItem" optionLabel="name" placeholder="Select a Item" />
              </div>
            </div>
            <div class="col-12 md:col-4">
              <InputText v-model="form.itemCode" :value="form.selectedItem.code" placeholder="item code" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Range No</label>
            <div class="col-6 md:col-4">
              <InputNumber v-model="form.productStart" style="text-align: right" />
            </div>
            <div class="col-6 md:col-4">
              <InputNumber v-model="form.productEnd" style="text-align: right" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-4 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { store } from '@/store';
import { formatOjectDateTime } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    form: {
      id: null,
      code: null,
      name: null,
      description: null,
      barcodeDate: store.state.currentDateTime,
      branchCode: 'HPI',
      branchName: 'Herbal Putih Indonesia',
      itemCode: null,
      productStart: 1,
      productEnd: 10,
      typeBarcode: null,
      urlLink: 'http://check-produk.herbalputihindonesia.com',
      urlLogo: null,
      selectedItem: [],
      listItem: [],
    },
  }),
  created() {
    this.listItem();
  },
  mounted() {},
  methods: {
    async submit() {
      this.isError = false;
      if (!this.isError) {
        let formSubmit = formatOjectDateTime(this.form, ['barcodeDate']);
        formSubmit.itemCode = this.form.selectedItem.code;

        await this.master.saveMaster('barcode', formSubmit);
        this.cancel();
      }
    },
    cancel() {
      history.back();
    },
    async listItem() {
      let data = await this.master.searchMaster('item/qr', { code: this.form.itemCode });
      this.form.listItem = data;
    },
  },
};
</script>
