<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Setting Barcode</div>
          </div>
        </div>
        <Toast />

        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
            </template>
            <template v-slot:end>
              <div class="col-6 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="printData" /></div>
              <div class="col-6 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="exportData" /></div>
            </template>
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <label class="col-3">Search</label>
              <div class="field grid col-12 p-0 m-1">
                <div class="field grid col-4 p-0 m-1">
                  <div class="col-12 p-0 m-0"><InputText type="text" v-model="searchCode" placeholder="By code" class="p-inputtext-sm" /></div>
                </div>
                <div class="field grid col-4 p-0 m-1">
                  <div class="col-12 p-0 m-0"><InputText type="text" v-model="searchName" placeholder="By name" class="p-inputtext-sm" /></div>
                </div>
                <div class="field grid col-8 md:col-4 p-0 m-0">
                  <SelectButton v-model="rdbStatus" :options="rdbOptions" dataKey="value" optionLabel="name" />
                </div>
              </div>
            </template>
            <template v-slot:end>
              <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :resizableColumns="true"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 p-0 m-0"
              :lazy="true"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="10"
              :rowsPerPageOptions="[10, 20, 50, 100]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="code" header="Code" style="white-space: nowrap; min-width: 20rem"></Column>
              <Column field="name" header="Name" style="white-space: nowrap; min-width: 20rem"></Column>
              <Column field="branchCode" header="Branch Code" style="white-space: nowrap; min-width: 10rem"></Column>
              <Column field="branchName" header="Branch Name" style="white-space: nowrap; min-width: 15rem"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import { BaseMasterUrl } from '@/api/endpoint/base';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  data: () => ({
    master: new MasterControllers(),
    base: `${BaseMasterUrl()}`,
    rdbStatus: { name: 'Active', value: true },
    rdbOptions: [
      { name: 'Active', value: true },
      { name: 'InActive', value: false },
      { name: 'All', value: 'All' },
    ],
    code: null,
    list: [],
    searchCode: '',
    searchName: '',
    meta: {
      age: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    loading: true,
    selectedRows: null,
    selectAll: false,
    isdelete: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.searchCode,
        name: this.searchName,
        activeStatus: this.rdbStatus.value,
        page: this.meta.page,
        size: this.meta.rows,
        sort: 'barcodeDate,DESC',
      };
      this.selectedRows = null;
      let temp = await this.master.searchMaster('barcode', field);
      this.totalRecords = temp.totalData;
      this.loading = false;
      return (this.list = temp.data);
    },
    createData() {
      this.$router.push({ path: '/setting/barcode/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.selectedRows.code,
      };
      this.$router.push({ path: '/setting/barcode/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.selectedRows.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.selectedRows.code,
      };
      await this.master.deleteMaster('barcode', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      window.open(this.base + '/barcode/export-excel/' + this.code);
    },
    exportData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      window.open(this.base + '/barcode/export-zip/' + this.code);
    },
    onRowSelect(event) {
      this.code = event.data.code;
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
