<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Role Authorization</div>
          </div>
        </div>
        <Toast />

        <div class="col-12">
          <Toolbar class="col-12 mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-6 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Code</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="By code" class="p-inputtext-sm" @keyup="getList" />
                  </div>
                </div>
                <div class="col-12 md:col-6 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Name</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchName" placeholder="By name" class="p-inputtext-sm" @keyup="getList" />
                  </div>
                </div>
                <div class="col-12 md:col-6 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1"></label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <SelectButton v-model="rdbStatus" :options="rdbOptions" dataKey="value" optionLabel="name" @change="getList" />
                  </div>
                </div>
                <div class="col-12 md:col-6 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1"></label>
                  <div class="col-12 md:col-9 m-0 p-1 grid">
                    <div class="col-6 m-0 p-1" :style="isAuthBranch ? 'display:null' : 'display: none;'">
                      <Dropdown v-model="searchBranchCode" :options="listBranch" optionLabel="name" optionValue="code" placeholder="Select Branch" :filter="true" @change="searchDivision" />
                    </div>
                    <div :class="isAuthBranch ? 'col-6 m-0 p-1' : 'col-12 m-0 p-1'">
                      <Dropdown v-model="searchDivisionCode" :options="listDivision" optionLabel="name" optionValue="code" placeholder="Select Divisi" :filter="true" @change="getList" />
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :resizableColumns="true"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="10"
              :rowsPerPageOptions="[10, 20, 50, 100]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="code" header="#" style="white-space: nowrap; display: flex; justify-content: center; max-width: 6rem">
                <template #body="slotProps">
                  <Button label="setting" class="p-button-search" @Click="updateData(slotProps.data.id)" />
                </template>
              </Column>
              <Column field="code" header="Code" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="name" header="Name" style="white-space: nowrap" :sortable="true"></Column>
              <!-- <Column field="jobPositionName" header="Job Position Name" style="white-space: nowrap; " :sortable="true" ></Column> -->
              <Column field="activeStatus" header="Status" style="white-space: nowrap; display: flex; justify-content: center">
                <template #body="slotProps">
                  <span :class="'p-tag p-component p-tag-' + status(slotProps.data.activeStatus, false)">{{ status(slotProps.data.activeStatus, true) }}</span>
                </template>
              </Column>
            </DataTable>
          </div>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :resizableColumns="true"
              :loading="loadingAuth"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              :value="listAuth"
              :paginator="true"
              :totalRecords="totalRecordsAuth"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="10"
              :rowsPerPageOptions="[10, 20, 50, 100]"
              :scrollable="true"
              @page="onPageAuth($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + metaAuth.page * metaAuth.rows }}</template></Column
              >
              <Column field="authorizationName" header="Module Name" style="white-space: nowrap"></Column>
              <Column field="assignAuthority" header="View" style="white-space: nowrap; display: flex; justify-content: center; max-width: 5rem">
                <template #body="slotProps">
                  <InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.assignAuthority" :disabled="true" true-value="true" />
                </template>
              </Column>
              <Column field="saveAuthority" header="Save" style="white-space: nowrap; display: flex; justify-content: center; max-width: 5rem">
                <template #body="slotProps">
                  <InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.saveAuthority" :disabled="true" true-value="true" />
                </template>
              </Column>
              <Column field="updateAuthority" header="Update" style="white-space: nowrap; display: flex; justify-content: center; max-width: 5rem">
                <template #body="slotProps">
                  <InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.updateAuthority" :disabled="true" true-value="true" />
                </template>
              </Column>
              <Column field="deleteAuthority" header="Delete" style="white-space: nowrap; display: flex; justify-content: center; max-width: 5rem">
                <template #body="slotProps">
                  <InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.deleteAuthority" :disabled="true" true-value="true" />
                </template>
              </Column>
              <Column field="printAuthority" header="Print" style="white-space: nowrap; display: flex; justify-content: center; max-width: 5rem">
                <template #body="slotProps">
                  <InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.printAuthority" :disabled="true" true-value="true" />
                </template>
              </Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<style>
.p-inputswitch {
  width: 3rem;
  height: 1.2rem;
}
</style>
<script>
import { store } from '@/store';
import { getStatus, valdNull } from '@/utils/function';
import { SettingControllers } from '@/controllers/setting/SettingControllers';

export default {
  data: () => ({
    setting: new SettingControllers(),
    isAuthBranch: store.state.isAuthBranch,
    listBranch: store.state.listBranch,
    listDivision: store.state.listDivision,
    rdbStatus: { name: 'Active', value: true },
    rdbOptions: [
      { name: 'Active', value: true },
      { name: 'InActive', value: false },
      { name: 'All', value: 'All' },
    ],
    code: null,
    header: null,
    list: [],
    listAuth: [],
    searchCode: '',
    searchName: '',
    searchBranchCode: store.state.defaultBranchCode,
    searchDivisionCode: store.state.defaultDivisionCode,
    meta: {
      page: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    metaAuth: {
      page: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    totalRecordsAuth: 0,
    loading: true,
    loadingAuth: false,
    selectedRows: null,
    selectAll: false,
    isdelete: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    async searchDivision() {
      let field = {
        branchCode: this.searchBranchCode,
        activeStatus: true,
        page: 0,
        size: 1000,
        sort: 'Code,ASC',
      };
      let data = await this.master.searchMaster('division', field);
      if (data.data.length >= 1) {
        this.searchDivisionCode = data.data[0].id;
      }
      this.listDivision = data.data;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.listAuth = [];
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.searchCode,
        name: this.searchName,
        branchCode: this.searchBranchCode,
        divisionCode: this.searchDivisionCode,
        activeStatus: this.rdbStatus.value,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      this.selectedRows = null;
      this.header = null;
      let temp = await this.setting.searchSetting('role', field);
      this.totalRecords = temp.totalData;
      this.loading = false;
      return (this.list = temp.data);
    },
    updateData(id) {
      if (this.selectedRows == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: id,
      };
      this.$router.push({ path: '/setting/role-authorization/form', query: param });
    },
    async showAuth() {
      // if (this.header != this.selectedRows.code) {
      this.loadingAuth = true;
      this.listAuth = [];
      const field = {
        code: this.selectedRows.code,
        branchCode: this.searchBranchCode,
        divisionCode: this.searchDivisionCode,
        page: this.metaAuth.page,
        size: this.metaAuth.rows,
        sort: 'SortNo,ASC',
      };
      let data = await this.setting.searchSetting('role-authorization', field);
      this.listAuth = data.data;
      this.totalRecordsAuth = data.totalData;
      this.loadingAuth = false;
      // this.header = this.selectedRows.code;
      // }
    },
    onRowSelect(event) {
      this.showAuth();
      return event;
    },
    onRowUnselect(event) {
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onPageAuth(event) {
      this.metaAuth = event;
      this.showAuth();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
  },
};
</script>
