<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-8">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-9">
            <div class="font-medium text-3xl text-900">Master Courier</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid" :style="isAuthBranch && !submitted ? 'display:null' : 'display: none;'">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Branch</label>
            <div class="col-12 md:col-9">
              <Dropdown v-model="form.branchCode" :options="listBranch" optionLabel="name" optionValue="code" placeholder="Select Branch" @change="searchDivision" :disabled="submitted" />
            </div>
          </div>
          <div class="field grid" :style="!submitted ? 'display:null' : 'display: none;'">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Divisi</label>
            <div class="col-12 md:col-9">
              <Dropdown v-model="form.divisionCode" :options="listDivision" optionLabel="name" optionValue="code" placeholder="Select Divisi" :disabled="submitted" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
            <div class="col-12 md:col-9">
              <InputMask v-model="form.code" :value="form.code ? form.code.toUpperCase() : ''" mask="aaaa" placeholder="CAPSLOCK" :disabled="submitted" autofocus />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Name</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.name" placeholder="Enter name" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
            <div class="col-12 md:col-9">
              <Textarea v-model="form.remark" rows="3" cols="20" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Active Status</label>
            <div class="col-12 md:col-9">
              <ToggleButton v-model="form.activeStatus" :value="form.activeStatus == 1 || form.activeStatus == true ? true : false" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-3 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { store } from '@/store';
import { getParam } from '@/utils/function';
import { formatOjectDate } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { AuthControllers } from '@/controllers/auth/AuthControllers';

export default {
  data: () => ({
    master: new MasterControllers(),
    auth: new AuthControllers(),
    submitted: false,
    isAuthBranch: store.state.isAuthBranch,
    listBranch: store.state.listBranch,
    listDivision: store.state.listDivision,
    form: {
      branchCode: store.state.defaultBranchCode,
      divisionCode: store.state.defaultDivisionCode,
      id: null,
      code: null,
      name: null,
      remark: null,
      activeStatus: 0,
    },
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.master.dataMaster('courier', { code: data });
      this.form = temp.data;
    },
    async submit() {
      this.isError = false;
      if (!this.isError) {
        let formSubmit = formatOjectDate(this.form, ['']);
        if (this.submitted) {
          await this.master.updateMaster('courier', formSubmit);
          this.cancel();
        } else {
          await this.master.saveMaster('courier', formSubmit);
          this.cancel();
        }
      }
    },
    cancel() {
      history.back();
    },
    async searchDivision() {
      let field = {
        branchCode: this.form.branchCode,
        activeStatus: true,
        page: 0,
        size: 1000,
        sort: 'Code,ASC',
      };
      let data = await this.master.searchMaster('division', field);
      this.listDivision = data.data;
    },
  },
};
</script>
