<template>
  <nav class="user-menu">
    <v-btn v-if="isDesktop" :href="link.marketing.check" color="primary">
      {{ $t('common.check_product') }}
    </v-btn>

    <v-select
      v-if="isDesktop"
      :items="langList"
      :value="lang"
      v-model="lang"
      label=""
      outlined
      class="select-lang"
      prepend-inner-icon="mdi-web"
      @change="switchLang(lang)"
    >
      <template slot="selection" slot-scope="data">
        {{ data.item.value.toUpperCase() }}
      </template>
    </v-select>
    <!-- <v-spacer v-if="isDesktop" class="vertical-divider" /> -->
    <!-- <setting-menu /> -->
  </nav>
</template>

<style lang="scss" scoped>
@import '../header-style.scss';
</style>

<script>
import link from '~/static/text/link'
// import Settings from './Settings'

export default {
  data() {
    return {
      link: link,
      lang: 'id',
    }
  },
  components: {
    // 'setting-menu': Settings,
  },
  computed: {
    isDesktop() {
      const smUp = this.$store.state.breakpoints.smUp
      return smUp.indexOf(this.$mq) > -1
    },
    langList: function () {
      const list = []
      this.$i18n.locales.map((item) => {
        list.push({ text: this.$t('common.' + item.code), value: item.code })
      })
      return list
    },
  },
  mounted() {
    this.lang = this.$i18n.locale
    // this.switchLang(this.lang)
  },
  methods: {
    switchLang: function (val) {
      this.$i18n.setLocale(val)
    },
  },
}
</script>
