<template>
  <fragment>
    <v-list dense>
      <v-list-item
        v-for="(item, index) in menuPrimary"
        :key="index"
        :href="singleNav ? item.link : '/' + item.link"
        :class="{ current: curURL === curOrigin + langPath + item.link }"
        link
      >
        <v-list-item-content>
          <v-list-item-title class="menu-list">
            {{ $t('marketing.header_' + item.name) }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!-- <v-list-group class="group-child">
        <template #activator>
          <v-list-item class="has-child">
            <v-list-item-title class="menu-list">
              {{ $t('common.header_sample_page') }}
            </v-list-item-title>
          </v-list-item>
        </template>
        <v-list
          v-for="(subitem, index) in menuSecondary"
          :key="index"
        >
          <v-subheader class="title-mega">{{ subitem.name }}</v-subheader>
          <v-list-item-group>
            <v-list-item
              v-for="(item, index) in subitem.child"
              :key="index"
              :href="item.link"
              :class="{ current: curURL === (curOrigin+langPath+item.link)}"
            >
              <v-list-item-content>
                <v-list-item-title class="menu-list" v-text="$t('common.header_'+item.name)" />
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-list-group> -->
    </v-list>
    <v-divider />
    <v-list dense>
      <v-list-item>
        <v-select
          :items="langList"
          :value="lang"
          v-model="lang"
          label=""
          outlined
          class="select-lang"
          prepend-inner-icon="mdi-web"
          @change="switchLang(lang)"
        />
        <p v-if="isMobile" class="body-2 text-center">
          &copy;&nbsp;
          {{ brand.marketing.footerText }}
        </p>
      </v-list-item>
    </v-list>
  </fragment>
</template>

<style scoped lang="scss">
@import '../sidenav-style';
</style>

<script>
import link from '~/static/text/link'

export default {
  data() {
    return {
      lang: 'id',
      link: link,
      isOpen: false,
      curURL: '',
      curOrigin: '',
      langPath: ''
    }
  },
  mounted() {
    this.lang = this.$i18n.locale
  },
  mounted() {
    this.curURL = window.location.href
    this.curOrigin = window.location.origin
    this.langPath = '/' + this.$i18n.locale
  },
  computed: {
    langList: function() {
      const list = []
      this.$i18n.locales.map(item => {
        list.push({ text: this.$t('common.' + item.code), value: item.code })
      })
      return list
    }
  },
  methods: {
    switchLang: function(val) {
      this.$i18n.setLocale(val)
    }
  },
  props: {
    menuPrimary: {
      type: Array,
      required: true
    },
    menuSecondary: {
      type: Array,
      required: true
    },
    singleNav: {
      type: Boolean,
      default: false
    }
  }
}
</script>
