<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 p-0">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">SO No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" @change="searchList" placeholder="Sales Order" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Finish Goods</label>
                  <div class="col-12 md:col-5 m-0 p-1">
                      <InputText v-model="searchFinishGoodsCode"  @change="searchList" placeholder=" Finish Goods Code" class="p-inputtext-sm" />
                  </div>
                  <div class="col-12 md:col-4 m-0 p-1">
                      <InputText v-model="searchFinishGoodsName"  @change="searchList" placeholder=" Finish Goods Name" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">RefNo</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0 py-1" style="justify-content: left">
                  <div class="col-6 md:col-3 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <DataTable
      showGridlines
      responsiveLayout="scroll"
      :loading="loading"
      dataKey="code"
      scrollHeight="400px"
      class="col-12 md:col-12 p-0 m-0"
      :lazy="true"
      ref="dt"
      selectionMode="single"
      v-model:selection="selectedRows"
      :totalRecords="totalRecords"
      :value="list"
      :paginator="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      :rows="5"
      :rowsPerPageOptions="[5, 10, 20, 50]"
      :rowHover="true"
      :scrollable="true"
      @rowSelect="onRowSelect"
      @rowUnselect="onRowUnselect"
      @page="onPage($event)"
      @sort="onSort($event)"
    >
      <Column field="Index" header="No" style="max-width: 10em">
        <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
      </Column>
      <Column field="code" header="ASM-JOB No" style="white-space: nowrap; min-width: 16rem" :sortable="true"></Column>
      <Column field="assemblyJobDate" header="Transaction Date" style="min-width: 12rem;white-space" :sortable="true"></Column>
      <Column field="finishGoodsCode" header="Finish Goods Code" style="min-width: 12rem;white-space"></Column>
      <Column field="finishGoodsName" header="Finish Goods Name" style="min-width: 35rem;white-space"></Column>
      <Column field="billOfMaterialCode" header="BOM Code" style="min-width: 12rem;white-space"></Column>
      <Column field="billOfMaterialName" header="BOM Name" style="min-width: 35rem;white-space"></Column>
      <Column field="finishGoodsQuantity" header="Quantity" style="min-width: 12rem;white-space"></Column>
      <Column field="unitOfMeasureCode" header="UOM" style="min-width: 10rem;white-space"></Column>
      <Column field="refNo" header="Ref No" style="min-width: 12rem;white-space"></Column>
      <Column field="remark" header="Remark" style="min-width: 12rem;white-space"></Column>
      <Column field="assemblyRealizationCode" header="assemblyRealizationCode" style="min-width: 12rem;white-space" hidden></Column>
    </DataTable>
  </div>
  <div class="card mt-3">
    <div class="col-12 m-0 p-0">
      <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
    </div>
    <DataTable
      showGridlines
      responsiveLayout="scroll"
      dataKey="code"
      height="11em"
      scrollHeight="160px"
      class="col-12 md:col-12 p-0 m-0"
      :lazy="true"
      ref="dt"
      selectionMode="single"
      :rowHover="true"
      :scrollable="true"
      :value="listDetail"
      :loading="loadingDetails"
    >
      <Column field="Index" header="No" style="max-width: 60px">
        <template #body="{ index }">{{ index + 1 }}</template>
      </Column>
      <Column field="itemCode" header="Item Code" style="min-width: 12rem;white-space" :sortable="true"></Column>
      <Column field="itemName" header="Item Name" style="min-width: 45rem;white-space" :sortable="true"></Column>
      <Column field="quantity" header="ASM-JOB Quantity" style="min-width: 12rem;white-space">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
      </Column>
      <Column field="unitOfMeasureCode" header="UOM" style="min-width: 12rem;white-space"></Column>
    </DataTable>
  </div>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import { getStatus, valdNull,decimalCurrency, removeCommas } from '@/utils/function';
export default {
  inject: ['dialogRef'],
  data: () => ({
    inventory: new InventoryControllers(),
    datas: null,
    list: [],
    listDetail: [],
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchCode: '',
    searchRemark: '',
    searchRefNo: '',
    searchFinishGoodsName: '',
    searchFinishGoodsCode: '',
    code: null,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.datas) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.datas);
        }
      } else {
        this.dialogRef.close();
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const field = {
        code: this.searchCode,
        firstPeriodDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        lastPeriodDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        remark:this.searchRemark,
        refNo:this.searchRefNo,
        finishGoodsName:this.searchFinishGoodsName,
        finishGoodsCode:this.searchFinishGoodsCode,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'DESC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory(this.module, field);
      this.totalRecords = temp.totalData;
      // this.selectedRows = null;
      // this.datas = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      const field = {
        headerCode: this.code,
        page: 0,
        size: 1000,
        sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('assembly/job-order/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    onRowSelect(event) {
      this.datas = event.data;
      this.code = event.data.code;
      this.getListDetail();
      return event;
    },
    onRowUnselect(event) {
      // this.datas = null;
      // this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
