<template>
  <div class="main-wrap">
    <div class="form-wrap">
      <v-row>
          <v-col md="6" cols="12">
            <v-card class="form-box fragment-fadeUp">
              <div class="form-wrap">
                <div>
                  <div class="head">
                    <h3 :class="isMobile ? 'use-text-title' : 'use-text-subtitle'">
                      {{ $t('common.qr_title') }}
                    </h3>
                  </div>
                  <v-form ref="form" >
                    <v-row class="spacing3">
                      <v-col cols="12" sm="12" class="px-1" style="text-align: center;">
                        <img :src="imgToken+token"/>
                      </v-col>
                      <v-col cols="6" class="px-1">
                        <v-text-field v-model="id" :placeholder="id" label="Product ID" disabled color="secondary"/>
                      </v-col>
                      <v-col cols="6" class="px-1">
                        <v-text-field v-model="screet_qr" :placeholder="screet" label="SCREET" :autofocus="true" color="secondary"/>
                      </v-col>
                      <v-col cols="6" class="px-1">
                        <v-text-field v-model="produk" :placeholder="produk" label="Product Name" disabled color="secondary"/>
                      </v-col>
                      <v-col cols="6" class="px-1">
                        <v-text-field v-model="quantity" :placeholder="quantity" label="Quantity" disabled color="secondary"/>
                      </v-col>
                      <v-col cols="12" class="px-1">
                        <v-text-field v-model="status" :placeholder="status" label="Status" disabled color="secondary"/>
                      </v-col>
                      <v-col cols="12" class="px-1">
                        <v-text-field v-model="description" :placeholder="description" label="Description" disabled color="secondary"/>
                      </v-col>
                    </v-row>
                    <div class="btn-area">
                      <v-btn
                        large
                        block
                        color="primary"
                        @click="handleSubmit"
                      >
                        {{ $t('common.btn_regist') }}
                      </v-btn>
                    </div>
                  </v-form>
                </div>
              </div>
            </v-card>
          </v-col>
          <v-col md="6" class="px-6" cols="12">
            <hidden point="smDown">
              <div class="greeting">
                <h4 class="use-text-title2 pb-2">
                  {{ $t('common.qr_title') }}
                </h4>
                <h6 class="use-text-subtitle2">
                  {{ $t('common.qr_message') }}
                </h6>
                <div class="main-wrap">
                  <img src="http://check-produk.herbalputihindonesia.com/assets/icon/mdh.jpg" style="width: 100%;" />
                </div>
              </div>
            </hidden>
          </v-col>
        </v-row>
    </div>
    <main-footer />
  </div>
</template>

<style scoped lang="scss">
@import '~/components/Forms/form-style';
@import '~/assets/pages';
</style>

<script>
import brand from '~/static/text/brand'
import Footer from '~/components/Footer'
import link from '~/static/text/link'
import imgAPI from '~/static/images/imgAPI'

export default {
  components: {
    'main-footer': Footer
  },
  data: () => ({
    imgAPI: imgAPI,
    valid: false,
    token: null,
    imgToken: 'http://101.50.0.109:9191/api/master/barcode/check',
    description: 'Product Anda Terdaftar, dan Terverifikasi oleh BPOM.',
    id: 'HPIMDH220401149664',
    logo: 'http://check-produk.herbalputihindonesia.com/assets/icon/mdh.jpg',
    produk: 'Madu Hijau',
    quantity: '210 gr',
    screet: 'MzQwNw==',
    status: 'READY REGISTERED',
    link: link,
    screet_qr: null
  }),
  head() {
    return {
      title: 'Login | ' + brand.marketing.desc
    }
  },
  mounted() {
    this.token = this.$route.path
    console.log(this.asyncData(this.token))
  },
  computed: {
    isMobile() {
      const xsDown = this.$store.state.breakpoints.xsDown
      return xsDown.indexOf(this.$mq) > -1
    }
  },
  methods: {
    handleSubmit() {
      if (this.$refs.form.validate()) {
        console.log('data submited')
      }
    },
    async asyncData(token) {
      const data = await this.$axios.$get(
        'http://101.50.0.109:9191/api/master/barcode/status' + token
      )
      this.id = data.data.id
      this.logo = data.data.logo
      this.produk = data.data.produk
      this.quantity = data.data.quantity
      this.screet = atob(data.data.screet)
      this.status = data.data.status
      return data
    }
  }
}
</script>
