<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 p-0">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">SO No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" @change="searchList" placeholder="Sales Order" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Project</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText v-model="searchProjectCode" @change="searchList" placeholder=" Project Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText v-model="searchProjectName" @change="searchList" placeholder=" Project Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Customer</label>
                  <div class="col-12 md:col-5 m-0 p-1">
                      <InputText v-model="searchCustomerCode" @change="searchList" placeholder=" Customer Code" class="p-inputtext-sm" />
                  </div>
                  <div class="col-12 md:col-4 m-0 p-1">
                      <InputText v-model="searchCustomerName" @change="searchList" placeholder=" Customer Name" class="p-inputtext-sm" />
                  </div>
                </div>
                
                <div class="col-12 md:col-7 field grid m-0 p-0 py-1" style="justify-content: left">
                  <div class="col-6 md:col-3 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <DataTable
      showGridlines
      responsiveLayout="scroll"
      :loading="loading"
      dataKey="code"
      scrollHeight="400px"
      class="col-12 md:col-12 p-0 m-0"
      :lazy="true"
      ref="dt"
      selectionMode="single"
      v-model:selection="selectedRows"
      :totalRecords="totalRecords"
      :value="list"
      :paginator="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      :rows="5"
      :rowsPerPageOptions="[5, 10, 20, 50]"
      :rowHover="true"
      :scrollable="true"
      @rowSelect="onRowSelect"
      @rowUnselect="onRowUnselect"
      @page="onPage($event)"
      @sort="onSort($event)"
    >
      <Column field="Index" header="No" style="max-width: 10em">
        <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
      </Column>
      <Column field="code" header="Sales Order Code" style="min-width: 12em" :sortable="true"></Column>
      <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
      <Column field="customerCode" header="Customer Code" style="min-width: 12em" :sortable="true"></Column>
      <Column field="customerName" header="Customer Name" style="min-width: 25em" :sortable="true"></Column>
      <Column field="salesPersonCode" header="Sales Person Code" style="min-width: 12em" :sortable="true"></Column>
      <Column field="salesPersonName" header="Sales Person Name" style="min-width: 25em" :sortable="true"></Column>
      <Column field="projectCode" header="project Code" hidden style="min-width: 12em"></Column>
      <Column field="projectName" header="project Name" hidden style="min-width: 12em"></Column>
      <Column field="refNo" header="Ref No" style="min-width: 25em" :sortable="true"></Column>
      <Column field="dlnCode" header="DLN No" style="min-width: 15em" :sortable="true"></Column>
      <Column field="remark" header="Remark" style="min-width: 25em" :sortable="true"></Column>
      <Column field="approvalStatus" header="Approval Status" style="min-width: 12em; display: flex; justify-content: center" :sortable="true"></Column>
      <Column field="closingStatus" header="Closing Status" style="min-width: 10em; display: flex; justify-content: center" :sortable="true"></Column>
      <Column field="totalTransactionAmount" header="totalTransactionAmount" hidden style="min-width: 12em"></Column>
      <Column field="discountCode" header="discountCode" hidden style="min-width: 12em"></Column>
      <Column field="discountName" header="discountName" hidden style="min-width: 12em"></Column>
      <Column field="discountAmount" header="discountAmount" hidden style="min-width: 12em"></Column>
      <Column field="vatPercent" header="vatPercent" hidden style="min-width: 12em"></Column>
      <Column field="vatAmount" header="vatAmount" hidden style="min-width: 12em"></Column>
      <Column field="grandTotalAmount" header="grandTotalAmount" hidden style="min-width: 12em"></Column>
    </DataTable>
  </div>
  <div class="card mt-3">
    <div class="col-12 m-0 p-0">
      <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
    </div>
    <DataTable
      showGridlines
      responsiveLayout="scroll"
      dataKey="code"
      height="11em"
      scrollHeight="160px"
      class="col-12 md:col-12 p-0 m-0"
      :lazy="true"
      ref="dt"
      selectionMode="single"
      :rowHover="true"
      :scrollable="true"
      :value="listDetail"
      :loading="loadingDetails"
    >
      <Column field="Index" header="No" style="max-width: 60px"
        ><template #body="{ index }">{{ index + 1 }}</template></Column
      >
      <Column field="itemCode" header="Item Code" style="min-width: 12em" :sortable="true"></Column>
      <Column field="itemName" header="Item Name" style="min-width: 35em" :sortable="true"></Column>
      <Column field="catalogNo" header="Catalog No" style="min-width: 12em"></Column>
      <Column field="itemAlias" header="Item Alias" style="min-width: 35em"></Column>
      <Column field="remark" header="Remark" style="min-width: 12em"></Column>
      <Column field="quantity" header="Quantity" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
      </Column>
      <Column field="unitOfMeasureCode" header="UOM" style="min-width: 12em"></Column>
      <Column field="price" header="Price" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.price) }}</template>
      </Column>
      <Column field="discountCode" header="Discount Code" style="min-width: 12em"></Column>
      <Column field="discountName" header="Discount Name" style="min-width: 12em"></Column>
      <Column field="discountAmount" header="Discount Amount" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.discountAmount) }}</template>
      </Column>
      <Column field="nettPrice" header="Nett Price" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.nettPrice) }}</template>
      </Column>
      <Column field="totalAmount" header="Total" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalAmount) }}</template>
      </Column>
    </DataTable>
  </div>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { valdNull, decimalCurrency } from '@/utils/function';
import { SalesControllers } from '@/controllers/sales/SalesControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    sales: new SalesControllers(),
    datas: null,
    list: [],
    listDetail: [],
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchCode: '',
    searchCustomerCode: '',
    searchCustomerName: '',
    searchProjectCode: '',
    searchProjectName: '',
    code: null,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    loadingDetails:false
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.datas) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.datas);
        }
      } else {
        this.dialogRef.close();
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const field = {
        code: this.searchCode,
        customerCode: this.searchCustomerCode,
        customerName: this.searchCustomerName,
        projectCode: this.searchProjectCode,
        projectName: this.searchProjectName,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
       sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'DESC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.sales.lookupSales(this.module, field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.datas = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.code,
        page: 0,
        size: 1000,
       sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.sales.searchSales('sales-order/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    onRowSelect(event) {
      this.datas = event.data;
      this.code = event.data.code;
      this.getListDetail();
      return event;
    },
    onRowUnselect(event) {
      this.datas = null;
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
  },
};
</script>
