<template>
  <Toolbar class="mb-12 m-0 p-2">
    <Toast position="top-center" />
    <template v-slot:start>
      <label class="grid col-2 p-0 m-1">Search</label>
      <div class="grid col-4 p-0 m-1">
        <div class="col-12 p-0 m-0"><InputText type="text" class="p-inputtext-sm" @change="searchList" v-model="searchCode" placeholder="Customer Invoice Code" style="width: 100%" /></div>
      </div>
      <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
      <div class="col-12 md:col-8 grid m-0 p-0">
        <div class="col-6 md:col-6 m-0 p-1">
          <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
        </div>
        <div class="col-6 md:col-6 m-0 p-1">
          <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
        </div>
      </div>
    </template>
    <template v-slot:end>
      <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="invoiceSalesOrderCode"
    scrollHeight="flex"
    class="col-12"
    :lazy="true"
    selectionMode="single"
    :metaKeySelection="false"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column field="invoiceSalesOrderCode" header="Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="branchCode" header="Branch Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="branchName" header="Branch Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="customerCode" header="Customer Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="customerName" header="Customer Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="customerAddress" header="Customer Address" style="min-width: 45em" :sortable="true"></Column>
    <Column field="salesPersonCode" header="Sales Person Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="salesPersonName" header="Sales Person Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="billToCode" header="Bill To Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="billToName" header="Bill To Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="billToAddress" header="Bill To Address" style="min-width: 45em" :sortable="true"></Column>
    <Column field="currencyCode" header="Currency Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="currencyName" header="Currency Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="exchangeRate" header="Exchange Rate" style="min-width: 12em" :sortable="true"></Column>
    <Column field="paymentTermCode" header="Payment Term Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="paymentTermName" header="Payment Term Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="paymentTermDays" header="Payment Term Days" style="min-width: 12em" :sortable="true"></Column>
    <Column field="dueDate" header="Due Date" style="min-width: 10em" :sortable="true"></Column>
    <Column field="refNo" header="Ref No" style="min-width: 45em" :sortable="true"></Column>
    <Column field="remark" header="Remark" style="min-width: 45em" :sortable="true"></Column>
  </DataTable>
  <div class="card mt-3">
    <div class="col-12 m-0 p-0">
      <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
    </div>
    <DataTable
      showGridlines
      responsiveLayout="scroll"
      dataKey="code"
      height="11em"
      scrollHeight="160px"
      class="col-12 md:col-12 p-0 m-0"
      :lazy="true"
      ref="dt"
      selectionMode="single"
      :rowHover="true"
      :scrollable="true"
      :value="listDetail"
      :loading="loadingDetails"
    >
      <Column field="Index" header="No" style="max-width: 60px"
        ><template #body="{ index }">{{ index + 1 }}</template></Column
      >
      <Column field="itemCode" header="Item Code" style="min-width: 12rem" :sortable="true"></Column>
      <Column field="itemName" header="Item Name" style="min-width: 45rem" :sortable="true"></Column>
      <Column field="catalogNo" header="Catalog No" style="min-width: 12rem"></Column>
      <Column field="itemAlias" header="Item Alias" style="min-width: 45rem"></Column>
      <Column field="remark" header="Remark" style="min-width: 12rem"></Column>
      <Column field="quantity" header="Quantity" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
      </Column>
      <Column field="unitOfMeasureCode" header="UOM" style="min-width: 12rem"></Column>
      <Column field="price" header="Price" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.price) }}</template>
      </Column>
      <Column field="discountTypeCode" header="Discount Code" style="min-width: 12rem"></Column>
      <Column field="discountTypeName" header="Discount Name" style="min-width: 12rem"></Column>
      <Column field="discountAmount" header="Discount Amount" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.discountAmount) }}</template>
      </Column>
      <Column field="nettPrice" header="Nett Price" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.nettPrice) }}</template>
      </Column>
      <Column field="totalAmount" header="Total" style="min-width: 12em; display: flex; justify-content: right">
        <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalAmount) }}</template>
      </Column>
    </DataTable>
  </div>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { valdNull, decimalCurrency } from '@/utils/function';
import { SalesControllers } from '@/controllers/sales/SalesControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    sales: new SalesControllers(),
    list: [],
    listDetail: [],
    invoiceSalesOrderCode: null,
    datas: null,
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchCode: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'invoiceSalesOrderCode',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'invoiceSalesOrderCode',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    showList() {
      console.log(this.selectedRows);
    },
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.datas) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.datas);
        }
      } else {
        this.dialogRef.close();
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('DD-MM-YYYY'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('DD-MM-YYYY'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'invoiceSalesOrderCode') + ',' + 'ASC' : valdNull(this.meta.sortField, 'invoiceSalesOrderCode') + ',' + 'DESC',
      };
      let temp = await this.sales.searchSales(this.module, field);
      this.totalRecords = temp.totalData;
      this.datas = null;
      this.invoiceSalesOrderCode = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.invoiceSalesOrderCode == null) {
        return false;
      }
      // alert('kiki');
      this.loadingDetails = true;
      const field = {
        code: this.invoiceSalesOrderCode,
        page: 0,
        size: 1000,
        sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.sales.searchSales('customer-invoice-sales-order/detail-for-return', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    onRowSelect(event) {
      this.datas = event.data;
      this.invoiceSalesOrderCode = event.data.invoiceSalesOrderCode;
      this.getListDetail();
      return event;
    },
    onRowUnselect(event) {
      this.datas = null;
      // this.selectedRows= null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
  },
};
</script>
