<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 p-0">
            <template v-slot:start>
              <label class="grid col-4 p-0 m-1">Search</label>
              <div class="grid col-9 p-0 m-1">
                <div class="col-12 p-0 m-0"><InputText type="text" class="p-inputtext-sm" v-model="searchSalesOrderCode" disabled="true" style="width: 100%" /></div>
              </div>
            </template>
            <template v-slot:end>
              <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
            </template>
          </Toolbar>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="code"
    scrollHeight="flex"
    class="col-12"
    :lazy="true"
    selectionMode="multiple"
    :metaKeySelection="false"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
    >
      <Column field="Index" header="No" style="max-width: 3em">
        <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
      </Column>
      <Column field="code" header="code" hidden style="min-width: 16em" :sortable="true"></Column>
      <Column field="deliveryNoteCode" header="DLN No" style="min-width: 16em" :sortable="true"></Column>
      <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
    </DataTable>
  </div>
  <div class="card mt-3">
    <div class="col-12 m-0 p-0">
      <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
    </div>
    <DataTable
      showGridlines
      responsiveLayout="scroll"
      dataKey="code"
      height="11rem"
      scrollHeight="150px"
      class="col-12 md:col-12 p-0 m-0"
      :lazy="true"
      ref="dt"
      selectionMode="single"
      :rowHover="true"
      :scrollable="true"
      :value="listDetail"
      :loading="loadingDetails"
    >
      <Column field="Index" header="No" style="max-width: 60px">
        <template #body="{ index }">{{ index + 1 }}</template>
      </Column>
      <Column field="itemCode" header="Item Code" style="white-space: nowrap; min-width: 12rem" :sortable="true"></Column>
      <Column field="itemName" header="Item Name" style="white-space: nowrap; min-width: 25rem" :sortable="true"></Column>
      <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; min-width: 25rem" :sortable="true"></Column>
      <Column field="remark" header="Remark" style="white-space: nowrap; min-width: 12rem"></Column>
      <Column field="quantity" header="Quantity" style="white-space: nowrap; min-width: 12rem"></Column>
      <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; min-width: 12rem"></Column>
    </DataTable>
  </div>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import { valdNull } from '@/utils/function';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    sales: new SalesControllers(),
    inventory: new InventoryControllers(),
    list: [],
    listDetail: [],
    searchSalesOrderCode: '',
    code: null,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.searchSalesOrderCode = this.dialogRef.data.code;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.selectedRows) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.selectedRows);
        }
      } else {
        this.dialogRef.close();
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const field = {
        code: this.searchSalesOrderCode,
        type: 'SOD',
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales(this.module, field);
      this.totalRecords = temp.totalData;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: 0,
        size: 1000,
       sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('delivery-note/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
