<template>
  <Toast />
  <DynamicDialog />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <Panel header="Sales Order" class="col-12 m-0 p-0" style="margin-top: 20px">
          <div class="grid">
            <div class="col-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">SO No</label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                </div>
              </div>
              <div class="field grid" :style="isAuthBranch && !submitted ? 'display:null' : 'display: none;'">
                <label class="col-12 mb-2 md:col-4 md:mb-0">Branch</label>
                <div class="col-12 md:col-8">
                  <Dropdown v-model="form.branchCode" :options="listBranch" optionLabel="name" optionValue="code" placeholder="Select Branch" @change="searchDivision" :disabled="submitted" />
                </div>
              </div>
              <div class="field grid" :style="!submitted ? 'display:null' : 'display: none;'">
                <label class="col-12 mb-2 md:col-4 md:mb-0">Divisi</label>
                <div class="col-12 md:col-8">
                  <Dropdown v-model="form.divisionCode" :options="listDivision" optionLabel="name" optionValue="code" placeholder="Select Divisi" :disabled="submitted" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :showTime="true" hourFormat="24" :class="{ 'p-invalid': isError && form.transactionDate != '' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Customer * </b></label>
                <div class="col-12 md:col-8 pt-4 grid">
                  <div class="col-9 mb-2 p-inputgroup">
                    <InputText v-model="form.customerCode" placeholder="Enter customer" @change="searchChange('customer')" :disabled="true" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('customer')" />
                  </div>
                  <div class="col-3 mb-2">
                    <Button label="New" class="p-button-sm p-button-info" @click="regCustomer" />
                  </div>
                  <div class="col-6 mb-2">
                    <InputText v-model="form.customerName" placeholder="customer name" :disabled="true" />
                  </div>
                  <div class="col-6 mb-2">
                    <InputText v-model="form.customerPhone" placeholder="customer phone" :disabled="true" />
                  </div>
                  <div class="col-12">
                    <Textarea v-model="form.customerAddress" rows="3" cols="20" :disabled="true" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Refno</label>
                <div class="col-6 md:col-8">
                  <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.remark" rows="3" cols="20" :disabled="true" />
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6">
              <DataTable
                showGridlines
                columnResizeMode="expand"
                responsiveLayout="scroll"
                dataKey="itemCode"
                scrollHeight="400px"
                class="col-12 py-1 editable-cells-table"
                :resizableColumns="true"
                editMode="cell"
                :value="detail"
                :loading="loadingDetails"
              >
                <template #header>
                  <div class="table-header">
                    <label col-4 style="font-weight: bold">Item</label>
                    <div class="field grid col-8 p-0 m-0">
                      <SelectButton v-model="selectedItem" :options="listItem" dataKey="code" optionLabel="name" @change="lookupAddRow" />
                    </div>
                  </div>
                </template>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="quantity" header="Qty" style="min-width: 3rem; text-align: right">
                  <template #body="slotProps">
                    <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ slotProps.data.quantity }}</span>
                  </template>
                  <template #editor="{ data, field, index }">
                    <InputNumber v-model="data[field]" @input="onCellEditInit($event.value, field, index)" inputClass="text-right" mode="decimal" />
                  </template>
                </Column>
                <Column field="price" header="Price" style="min-width: 8rem; text-align: right">
                  <template #body="slotProps">
                    <span :style="{ 'color:red;': slotProps.data.price < 1 }">Rp. {{ decimalCurrency(slotProps.data.price) }}</span>
                  </template>
                  <template #editor="{ data, field, index }">
                    <InputNumber v-model="data[field]" @input="onCellEditInit($event.value, field, index)" inputClass="text-right" mode="decimal" />
                  </template>
                </Column>
                <Column field="discount" header="Discount" style="min-width: 8rem; text-align: right">
                  <template #body="slotProps">
                    <span :style="{ 'color:red;': slotProps.data.discount < 1 }">Rp. {{ decimalCurrency(slotProps.data.discount) }}</span>
                  </template>
                  <template #editor="{ data, field, index }">
                    <InputNumber v-model="data[field]" @input="onCellEditInit($event.value, field, index)" inputClass="text-right" mode="decimal" />
                  </template>
                </Column>
                <Column field="totalAmount" header="Total" class="dt-readonly" style="min-width: 10rem; text-align: right">
                  <template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.totalAmount) }}</template>
                </Column>
              </DataTable>
              <div class="grid col-12 md:col-12 m-0 p-0">
                <div class="grid col-12 m-0 p-0" style="justify-content: right">
                  <div class="col-12 m-0 p-0">
                    <div class="col-12 md:col-12 field grid m-0 p-0 pt-1">
                      <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Transaction Type</label>
                      <div class="col-12 md:col-8"><SelectButton v-model="selectedTransactionType" :options="listTransactionType" dataKey="code" optionLabel="name" /></div>
                    </div>
                    <div class="col-12 md:col-12 field grid m-0 p-0 pt-1">
                      <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                      <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" style="text-align: right" :disabled="true" /></div>
                    </div>
                    <div class="col-12 md:col-12 field grid m-0 p-0 pt-1">
                      <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Bank</label>
                      <div class="col-4 md:col-4">
                        <div class="p-inputgroup">
                          <InputText v-model="form.bankCode" placeholder="Enter bank" @change="searchChange('bank')" :class="{ 'p-invalid': isError && form.bankCode != '' }" />
                          <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bank')" />
                        </div>
                      </div>
                      <div class="col-8 md:col-4"><InputText v-model="form.bankName" :disabled="true" /></div>
                    </div>
                    <div class="col-12 md:col-12 field grid m-0 p-0 pt-1">
                      <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Courier</label>
                      <div class="col-4 md:col-4">
                        <div class="p-inputgroup">
                          <InputText v-model="form.courierCode" placeholder="Enter courier" @change="searchChange('courier')" :class="{ 'p-invalid': isError && form.courierCode != '' }" />
                          <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('courier')" />
                        </div>
                      </div>
                      <div class="col-8 md:col-4"><InputNumber v-model="form.courierAmount" @input="blurEventHandler($event, 'courierAmount')" inputClass="text-right" mode="decimal" /></div>
                    </div>
                    <div class="col-12 md:col-12 field grid m-0 p-0 pt-1">
                      <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total</label>
                      <div class="col-12 md:col-8"><InputNumber v-model="form.subTotalAmount" inputClass="text-right" mode="decimal" :disabled="true" /></div>
                    </div>
                    <div class="col-12 md:col-12 field grid m-0 p-0 pt-1">
                      <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                      <div class="col-4 md:col-4"><InputNumber v-model="form.vatPercent" @input="blurEventHandler($event, 'vatPercent')" inputClass="text-right" prefix="%" /></div>
                      <div class="col-8 md:col-4"><InputNumber v-model="form.vatAmount" inputClass="text-right" mode="decimal" :disabled="true" /></div>
                    </div>
                    <div class="col-12 md:col-12 field grid m-0 p-0 pt-1">
                      <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                      <div class="col-12 md:col-8"><InputNumber v-model="form.grandTotalAmount" inputClass="text-right" mode="decimal" :disabled="true" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button :label="!isCheckValid ? 'Check' : 'Valid'" :class="!isCheckValid ? 'p-button-danger' : 'p-button-success'" @click="checkValid"></Button></div>
              <div class="col-6 md:col-4"><Button label="Save SO" :disabled="!isCheckValid" class="p-button-warning" @click="submit"></Button></div>
            </div>
          </div>
        </Panel>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import { formatOjectDate } from '@/utils/function';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import RegCustomer from '@/views/sales/sales-order/RegCustomer';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { getParam, decimalCurrency } from '@/utils/function';
export default {
  components: {
    DynamicDialog,
  },

  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    isAuthBranch: store.state.isAuthBranch,
    listBranch: store.state.listBranch,
    listDivision: store.state.listDivision,
    isCheckValid: false,
    isError: false,
    submitted: false,
    loadingDetails: false,
    selectedItem: [],
    listItem: [
      { code: 'MDH', name: 'Madu Hijau', price: 250000 },
      { code: 'MDG', name: 'Ganggang Hijau', price: 250000 },
    ],
    selectedTransactionType: { code: 'TF', name: 'Transfer' },
    listTransactionType: [
      { code: 'TF', name: 'Transfer' },
      { code: 'COD', name: 'Cash On Delivery' },
    ],
    form: {
      code: null,
      transactionDate: store.state.currentDateTime,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      divisionCode: store.state.defaultDivisionCode,
      divisionName: store.state.defaultDivisionName,
      currencyCode: 'IDR',
      customerCode: '',
      customerName: '',
      customerPhone: '',
      customerAddress: '',
      refNo: '',
      remark: '',
      transactionType: 'COD',
      bankCode: '',
      courierCode: '',
      courierAmount: 0,
      totalTransactionAmount: 0,
      subTotalAmount: 0,
      vatPercent: 0,
      vatAmount: 0,
      grandTotalAmount: 0,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    lookupAddRow() {
      this.detail = [];
      let detail = {
        itemCode: this.selectedItem.code,
        itemName: this.selectedItem.name,
        price: this.selectedItem.price,
        quantity: 1,
        discount: 0,
        totalAmount: this.selectedItem.price,
      };
      this.detail.push(detail);
      this.calculationSummary();
    },
    async getData(data) {
      let temp = await this.sales.dataSales('sales-order', { code: data });
      this.form = temp.data;
    },
    async regCustomer() {
      this.$dialog.open(RegCustomer, {
        props: { header: 'Regist Customer', style: { width: '50vw' }, modal: true },
        data: { branchCode: this.form.branchCode, divisionCode: this.form.divisionCode },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.form.customerCode = data.data.data.code;
            this.form.customerName = data.data.data.name;
            this.form.customerPhone = data.data.data.phone;
            this.form.customerAddress = data.data.data.address;
          }
          this.isLoadingCustomer = false;
        },
      });
    },
    async checkValid() {
      this.isCheckValid = true;
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        if (parseFloat(moment(this.form.transactionDate, 'DD/MM/YYYY').format('M')) != parseFloat(store.state.periodMonth) || parseFloat(moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY')) != parseFloat(store.state.periodYear)) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: 'Transaction date must be period!', life: 3000 });
          throw BreakException;
        }

        let length = this.detail.length;
        if (length < 1) {
          this.isError = true;
          this.$toast.add({ severity: 'warn', summary: ' please insert one or more item !!!', life: 3000 });
          throw BreakException;
        }

        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          if (datas.price < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Price must have value more than 0 !', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });

        if (!this.isError) {
          let formSubmit = formatOjectDate(this.form, ['transactionDate']);
          formSubmit.listSalesOrderDetail = this.detail;
          if (this.submitted) {
            await this.sales.updateSales('sales-order', formSubmit);
          } else {
            await this.sales.saveSales('sales-order', formSubmit);
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'bank':
          temp = await this.master.dataMaster(master, { code: this.form.bankCode });
          if (temp) {
            this.form.bankCode = temp.data.code;
            this.form.bankName = temp.data.name;
          } else {
            this.form.bankCode = null;
            this.form.bankName = null;
          }
          break;
        case 'courier':
          temp = await this.master.dataMaster(master, { code: this.form.courierCode });
          if (temp) {
            this.form.courierCode = temp.data.code;
            this.form.courierName = temp.data.name;
          } else {
            this.form.courierCode = null;
            this.form.courierName = null;
          }
          break;
        case 'customer':
          temp = await this.master.dataMaster(master, { code: this.form.customerCode });
          if (temp) {
            this.form.customerCode = temp.data.code;
            this.form.customerName = temp.data.name;
            this.form.customerAddress = temp.data.customerAddress;
          } else {
            this.form.customerCode = null;
            this.form.customerName = null;
            this.form.customerAddress = null;
          }
          this.isCheckValid = false;
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'bank':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master bank', style: { width: '50vw' }, modal: true },
            data: { module: 'bank' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.bankCode = data.code;
                this.form.bankName = data.name;
              }
            },
          });
          break;
        case 'courier':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master courier', style: { width: '50vw' }, modal: true },
            data: { module: 'courier' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.courierCode = data.code;
                this.form.courierName = data.name;
              }
            },
          });
          break;
        case 'customer':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Customer', style: { width: '90vw' }, modal: true },
            data: { module: 'customer/so-look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.customerCode = data.code;
                this.form.customerName = data.name;
                this.form.customerAddress = data.customerAddress;
              }
            },
          });
          this.isCheckValid = false;
          break;
        default:
          break;
      }
    },
    async calculationSummary() {
      let totalAmount = 0;
      if (this.detail.length > 0) {
        totalAmount = this.detail[0].totalAmount;
      }
      this.form.totalTransactionAmount = parseFloat(totalAmount);
      this.form.subTotalAmount = parseFloat(totalAmount) - parseFloat(this.form.courierAmount);
      this.form.vatAmount = (parseFloat(this.form.subTotalAmount) * parseFloat(this.form.vatPercent)) / 100;
      this.form.grandTotalAmount = parseFloat(this.form.subTotalAmount) - parseFloat(this.form.vatAmount);
    },
    async onCellEditInit(data, field, index) {
      switch (field) {
        case 'price':
          this.detail[index].price = data;
          this.detail[index].totalAmount = this.detail[index].price * this.detail[index].quantity - this.detail[index].discount;
          this.calculationSummary();
          break;
        case 'quantity':
          this.detail[index].quantity = data;
          this.detail[index].totalAmount = this.detail[index].price * this.detail[index].quantity - this.detail[index].discount;
          this.calculationSummary();
          break;
        case 'discount':
          this.detail[index].discount = data;
          this.detail[index].totalAmount = this.detail[index].price * this.detail[index].quantity - this.detail[index].discount;
          this.calculationSummary();
          break;
        default:
          break;
      }
    },
    async searchDivision() {
      let field = {
        branchCode: this.form.branchCode,
        activeStatus: true,
        page: 0,
        size: 1000,
        sort: 'Code,ASC',
      };
      let data = await this.master.searchMaster('division', field);
      this.listDivision = data.data;
    },
    blurEventHandler: function (e, input) {
      this.form[input] = e.value;
      this.calculationSummary();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
  },
};
</script>
