<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <form class="col-12">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.code" placeholder="AUTO" :value="form.code ? form.code.toUpperCase() : ''" :disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Name</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.name" placeholder="Enter name" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Phone</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.phone" :value="form.phone.replace(/\D/g, '')" placeholder="Enter phone" />
            </div>
          </div>
          <div class="field grid">
            <Divider align="center">
              <span class="p-tag">Customer Address</span>
            </Divider>
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col-12 md:col-9 grid">
              <div class="col-6 mb-2 p-inputgroup">
                <InputText v-model="form.addressNo" placeholder="Address No" @keyup="formatAddress" />
              </div>
              <div class="col-6 mb-2 p-inputgroup">
                <InputText v-model="form.addressVilage" placeholder="Desa" @keyup="formatAddress" />
              </div>
              <div class="col-6 mb-2 p-inputgroup">
                <InputText v-model="form.addressRt" placeholder="Rt" @keyup="formatAddress" />
              </div>
              <div class="col-6 mb-2 p-inputgroup">
                <InputText v-model="form.addressRw" placeholder="Rw" @keyup="formatAddress" />
              </div>
              <div class="col-6 mb-2 p-inputgroup">
                <InputText v-model="form.addressBenchmark" placeholder="Kelurahan" @keyup="formatAddress" />
              </div>
              <div class="col-6 mb-2 p-inputgroup">
                <InputText v-model="form.addressDistric" placeholder="Patokan" @keyup="formatAddress" />
              </div>
              <div class="col-12 mb-2">
                <Dropdown v-model="form.addressProvince" :options="listProvince" optionLabel="name" optionValue="code" placeholder="Select Province" :editable="true" @change="mapDestination('city')" style="z-index: 10000" />
              </div>
              <div class="col-12 mb-2 p-inputgroup">
                <Dropdown v-model="form.addressCity" :options="listCity" optionLabel="name" optionValue="code" placeholder="Select City" :editable="true" @change="mapDestination('area')" style="z-index: 10000" />
              </div>
              <div class="col-12 mb-2 p-inputgroup">
                <Dropdown v-model="form.addressArea" :options="listArea" optionLabel="name" optionValue="code" placeholder="Select Area" :editable="true" @change="formatAddress" style="z-index: 10000" />
              </div>
              <div class="col-6 mb-2 p-inputgroup">
                <InputText v-model="form.addressZipCode" placeholder="Kode POS" @keyup="formatAddress" />
              </div>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Address</label>
            <div class="col-12 md:col-9">
              <Textarea v-model="form.address" rows="3" cols="20" :disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Active Status</label>
            <div class="col-12 md:col-9">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-3 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { formatOjectDate } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { AuthControllers } from '@/controllers/auth/AuthControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    master: new MasterControllers(),
    auth: new AuthControllers(),
    submitted: false,
    listProvince: [],
    listCity: [],
    listArea: [],
    form: {
      code: '',
      branchCode: '',
      divisionCode: '',
      name: '',
      phone: '',
      remark: '',
      address: '',
      addressNo: '',
      addressVilage: '',
      addressRt: '',
      addressRw: '',
      addressBenchmark: '',
      addressDistric: '',
      addressProvince: '',
      addressCity: '',
      addressArea: '',
      addressZipCode: '',
      activeStatus: false,
    },
  }),
  created() {
    this.form.branchCode = this.dialogRef.data?.branchCode;
    this.form.divisionCode = this.dialogRef.data?.divisionCode;
  },
  mounted() {
    this.mapDestination('province');
  },
  methods: {
    async submit() {
      this.isError = false;
      if (!this.isError) {
        let formSubmit = formatOjectDate(this.form, ['']);
        let data = await this.master.saveMaster('customer', formSubmit);
        this.dialogRef.close(data);
      }
    },
    async cancel() {
      this.dialogRef.close();
    },
    formatAddress() {
      let addressNo = this.form.addressNo == '' ? '' : ' ' + this.form.addressNo;
      let addressVilage = this.form.addressVilage == '' ? '' : ' Desa ' + this.form.addressVilage;
      let addressRt = this.form.addressRt == '' ? '' : ' Rt ' + this.form.addressRt;
      let addressRw = this.form.addressRw == '' ? '' : ' Rw ' + this.form.addressRw;
      let addressBenchmark = this.form.addressBenchmark == '' ? '' : ' Kel. ' + this.form.addressBenchmark;
      let addressDistric = this.form.addressDistric == '' ? '' : ' ,  ' + this.form.addressDistric;
      let addressArea = this.form.addressArea == '' ? '' : ', ' + this.form.addressArea;
      let addressCity = this.form.addressCity == '' ? '' : ', ' + this.form.addressCity;
      let addressProvince = this.form.addressProvince == '' ? '' : ', ' + this.form.addressProvince;
      let addressZipCode = this.form.addressZipCode == '' ? '' : ', ' + this.form.addressZipCode;
      this.form.address = addressNo + addressVilage + addressRt + addressRw + addressBenchmark + addressDistric + addressArea + addressCity + addressProvince + addressZipCode;
    },
    async mapDestination(dest) {
      if (dest == 'province') {
        let data = await this.master.mapDestination({ code: '', dest: dest });
        this.listProvince = data.data;
        this.listCity = [];
        this.listArea = [];
      } else if (dest == 'city') {
        let data = await this.master.mapDestination({ code: this.form.addressProvince, dest: dest });
        this.listCity = data.data;
        this.listArea = [];
      } else if (dest == 'area') {
        let data = await this.master.mapDestination({ code: this.form.addressCity, dest: dest });
        this.listArea = data.data;
      }
      this.formatAddress();
    },
  },
};
</script>
