<template>
  <OrderList v-model="list" listStyle="height:auto" dataKey="code" :stripedRows="true">
    <!-- <template #header> List Print </template> -->
    <template #item="slotProps">
      <div class="product-item">
        <div class="product-list-detail">
          <span class="product-category">{{ slotProps.item.code }}</span>
        </div>
        <div class="product-list-action">
          <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(slotProps.item.code)" />
        </div>
      </div>
    </template>
  </OrderList>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import { removeElementsBy } from '@/utils/function';
export default {
  inject: ['dialogRef'],
  data: () => ({
    list: null,
    selectedRows: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.list = this.dialogRef.data.list;
  },
  methods: {
    remove(data) {
      let obj = {
        code: data,
      };
      this.list = removeElementsBy(this.list, obj, (a, b) => a.code != b.code);
    },
    submitData(isBtn) {
      if (isBtn == true) {
        let arr = '';
        this.list.forEach((data) => {
          if (arr == '') {
            arr += data.code;
          } else {
            arr += ',' + data.code;
          }
        });
        this.dialogRef.close(arr);
      } else {
        this.dialogRef.close();
      }
    },
  },
};
</script>
