<template>
  <Toolbar class="mb-12 m-0 p-2">
    <Toast position="top-center" />
    <template v-slot:start>
      <div class="col-12 grid m-0 p-0 mt-1">
        <label class="col-12 md:col-2 mt-2 m-0 p-1">Search</label>
        <div class="col-12 md:col-10 field grid m-0 p-0">
          <div class="col-12 md:col-6 m-0 p-1">
            <InputText type="text" v-model="searchCode" placeholder="search code" class="col-12 p-inputtext-lg" @change="searchList" />
          </div>
          <div class="col-12 md:col-6 m-0 p-1">
            <InputText type="text" v-model="searchName" placeholder="search name" class="col-12 p-inputtext-lg" @change="searchList" />
          </div>
          <div class="col-12 md:col-9 m-0 p-1">
            <SelectButton v-model="rdbStatus" :options="rdbOptions" dataKey="value" optionLabel="name" @change="searchList" />
          </div>
          <div class="col-12 md:col-3 m-0 p-1">
            <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
          </div>
        </div>
      </div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="code"
    scrollHeight="400px"
    class="col-12"
    :lazy="true"
    ref="dt"
    :selectionMode="isMulti"
    :metaKeySelection="false"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column v-for="col of columns" :field="col.field" :header="col.header" :key="col.field" :style="col.style"></Column>
  </DataTable>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
// import {store} from '@/store';
import { valdNull } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    master: new MasterControllers(),
    module: 'master',
    isMulti: false,
    datas: null,
    columns: [],
    searchCode: '',
    searchName: '',
    searchBranchCode: '',
    rdbStatus: { name: 'Active', value: true },
    rdbOptions: [
      { name: 'Active', value: true },
      { name: 'InActive', value: false },
      { name: 'All', value: 'All' },
    ],
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.columns = this.dialogRef.data.columns;
    this.searchBranchCode = this.dialogRef.data.branchCode ? this.dialogRef.data.branchCode : '';
    this.isMulti = this.dialogRef.data.isMulti ? 'multiple' : 'single';
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    submitData(isBtn) {
      if (isBtn == true) {
        if (this.selectedRows.length < 1) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          if (this.isMulti == 'single') {
            this.dialogRef.close(this.selectedRows[0]);
          } else {
            this.dialogRef.close(this.selectedRows);
          }
        }
      } else {
        this.dialogRef.close();
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const params = {
        code: this.searchCode,
        name: this.searchName,
        branchCode: this.searchBranchCode,
        activeStatus: this.rdbStatus.value,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.master.searchMaster(this.module, params);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
