<template>
  <footer class="footer">
    <decoration />
    <v-container class="fixed-width">
      <v-row>
        <v-col class="pa-4 py-lg-10" md="5" cols="12">
          <div class="logo-area">
            <logo type="landscape" />
            <p class="body-2">
              {{ $t('marketing.banner_subtitle') }}
            </p>
          </div>
          <p v-if="isDesktop" class="body-2">
            &copy;&nbsp;
            {{ brand.marketing.footerText }}
          </p>
        </v-col>
        <v-col class="pa-4" md="4" cols="12">
          <v-expansion-panels v-if="isMobile">
            <v-expansion-panel
              v-for="(footer, index) in footers"
              :key="index"
              class="accordion-content"
            >
              <v-expansion-panel-header>
                <h6 class="title mb-4">
                  {{ $t('common.footer_' + footer.title) }}
                </h6>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li v-for="(item, index) in footer.description" :key="index">
                    <a :href="'#' + footer.link[index]">
                      {{ $t('marketing.header_'+item) }}
                    </a>
                  </li>
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <v-row v-if="isDesktop" justify="space-around">
            <v-col
              v-for="(footer, index) in footers"
              :key="index"
              class="pa-4 site-map-item"
            >
              <h6 class="title mb-4">
                {{ $t('common.footer_' + footer.title) }}
              </h6>
              <ul>
                <li v-for="(item, index) in footer.description" :key="index">
                  <a :href="'#' + footer.link[index]">
                    {{ $t('marketing.header_'+item) }}
                  </a>
                </li>
              </ul>
            </v-col>
          </v-row>
        </v-col>
        <v-col md="3" cols="12" class="pa-4">
          <div class="socmed">
            <v-btn text icon class="button">
              <span class="ion-logo-facebook icon" />
            </v-btn>
            <v-btn text icon class="button">
              <span class="ion-logo-twitter icon" />
            </v-btn>
            <v-btn text icon class="button">
              <span class="ion-logo-instagram icon" />
            </v-btn>
            <v-btn text icon class="button">
              <span class="ion-logo-linkedin icon" />
            </v-btn>
          </div>
          <v-select
            :items="langList"
            :value="lang"
            v-model="lang"
            label=""
            outlined
            class="select-lang"
            prepend-inner-icon="mdi-web"
            @change="switchLang(lang)"
          />
          <p v-if="isMobile" class="body-2 text-center">
            &copy;&nbsp;
            {{ brand.marketing.footerText }}
          </p>
        </v-col>
      </v-row>
    </v-container>
  </footer>
</template>

<style scoped lang="scss">
@import './footer-sitemap';
</style>

<script>
import Logo from '../Logo'
import brand from '~/static/text/brand'
import Decoration from './Decoration'

export default {
  components: {
    Logo,
    Decoration
  },
  data: () => ({
    brand: brand,
    lang: 'id',
    footers: [
      {
        title: 'company',
        description: ['about', 'our-expertise', 'testimonials'],
        link: ['#about', '#our-expertise', '#testimonials']
      },
      {
        title: 'legal',
        description: ['privacy-policy'],
        // description: ['Privacy policy', 'Terms of use'],
        link: ['#']
        // link: ['#', '#'],
      }
    ]
  }),
  mounted() {
    this.lang = this.$i18n.locale
  },
  computed: {
    langList: function() {
      const list = []
      this.$i18n.locales.map(item => {
        list.push({ text: this.$t('common.' + item.code), value: item.code })
      })
      return list
    },
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    },
    isDesktop() {
      const mdUp = this.$store.state.breakpoints.mdUp
      return mdUp.indexOf(this.$mq) > -1
    }
  },
  methods: {
    switchLang: function(val) {
      this.$i18n.setLocale(val)
    }
  }
}
</script>
