<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Setting Division</div>
          </div>
        </div>
        <Toast />

        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
          </Toolbar>

          <Toolbar class="col-12 mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-6 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Code</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="By code" class="p-inputtext-sm" @keyup="getList" />
                  </div>
                </div>
                <div class="col-12 md:col-6 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Name</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchName" placeholder="By name" class="p-inputtext-sm" @keyup="getList" />
                  </div>
                </div>
                <div class="col-12 md:col-6 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1"></label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <SelectButton v-model="rdbStatus" :options="rdbOptions" dataKey="value" optionLabel="name" @change="getList" />
                  </div>
                </div>
                <div class="col-12 md:col-6 field grid m-0 p-0" :style="isAuthBranch ? 'display:null' : 'display: none;'">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1"></label>
                  <div class="col-12 md:col-9 m-0 p-1 grid">
                    <div class="col-12 m-0 p-1">
                      <Dropdown v-model="searchBranchCode" :options="listBranch" optionLabel="name" optionValue="code" placeholder="Select Branch" :filter="true" @change="getList" />
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :resizableColumns="true"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 p-0 m-0"
              :lazy="true"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="10"
              :rowsPerPageOptions="[10, 20, 50, 100]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="code" header="Code" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="name" header="Name" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap"></Column>
              <Column field="activeStatus" header="Status" style="white-space: nowrap; display: flex; justify-content: center">
                <template #body="slotProps">
                  <span :class="'p-tag p-component p-tag-' + status(slotProps.data.activeStatus, false)">{{ status(slotProps.data.activeStatus, true) }}</span>
                </template>
              </Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  data: () => ({
    master: new MasterControllers(),
    isAuthBranch: store.state.isAuthBranch,
    listBranch: store.state.listBranch,
    rdbStatus: { name: 'Active', value: true },
    rdbOptions: [
      { name: 'Active', value: true },
      { name: 'InActive', value: false },
      { name: 'All', value: 'All' },
    ],
    code: null,
    list: [],
    searchCode: '',
    searchName: '',
    searchBranchCode: store.state.defaultBranchCode,
    meta: {
      age: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    loading: true,
    selectedRows: null,
    selectAll: false,
    isdelete: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.searchCode,
        name: this.searchName,
        branchCode: this.searchBranchCode,
        activeStatus: this.rdbStatus.value,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      this.selectedRows = null;
      let temp = await this.master.searchMaster('division', field);
      this.totalRecords = temp.totalData;
      this.loading = false;
      return (this.list = temp.data);
    },
    createData() {
      this.$router.push({ path: '/setting/division/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.selectedRows.code,
      };
      this.$router.push({ path: '/setting/division/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.selectedRows.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.selectedRows.code,
      };
      await this.master.deleteMaster('division', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      this.code = event.data.code;
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
  },
};
</script>
