$gutter: 1rem;
@import 'node_modules/primeflex/primeflex.scss';

.layout-content > .p-fluid > .col-12 {
  padding: 0;
}

.p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  margin-top: 0.3rem;
  padding: 0.2375rem 0.2375rem;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.2rem 0.5rem;
  z-index: 100000 !important;
}
.p-inputtext {
  padding: 0.3rem 0.3rem;
}
.p-fluid .p-dropdown {
  font-size: 0.875rem;
  height: 2rem;
}
.layout-wrapper .layout-menu-container .layout-menu li a,
.layout-wrapper .layout-menu-container .layout-menu li button {
  display: inline-flex;
}
.field.grid > label {
  display: block;
}
.field {
  margin-bottom: 0.25rem;
}
.p-fluid .p-buttonset {
  width: -moz-available;
}
.p-tag {
  padding: 0.15rem 0.4rem;
}
.p-button-label {
  margin-right: 1rem;
  font-size: x-small;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-toast.p-toast-topright {
  top: 114px;
}
.p-datatable-responsive-scroll > .p-datatable-wrapper > table,
.p-datatable-auto-layout > .p-datatable-wrapper > table {
  margin-bottom: 1rem;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  height: auto;
}
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.3rem 0.5rem;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.2rem 0.5rem;
}
.p-datatable .p-datatable-header {
  padding: 0.5rem 1rem;
}
.p-paginator {
  padding: 0.1rem 0rem;
  margin-top: -1rem;
  padding-top: 1em;
}
.p-link .p-inputtext {
  font-size: 0.8rem;
}
.p-paginator .p-dropdown {
  height: 2rem;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  height: 1.357rem;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  height: 1.357rem;
  margin: 0.1rem;
}
.p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  height: 1.357rem;
}
.p-disabled,
.p-component:disabled {
  opacity: 0.6;
  background-color: antiquewhite;
  color: black;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: #c7bc0f;
  color: #ffffff;
  font-weight: bolder;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
  display: none;
}
.p-fieldset .p-fieldset-legend {
  padding: 0.3rem 1.3rem;
}
.p-fieldset .p-fieldset-content {
  padding: 0;
}
.p-message {
  margin: 0.3rem 0;
  border-radius: 6px;
}
.p-message .p-message-wrapper {
  padding: 0.25rem 0.75rem;
}
.p-datatable .p-datatable-tbody > tr > .dt-readonly {
  background-color: #ffe57e !important;
}
.p-orderlist .p-orderlist-list .p-orderlist-item {
  padding: 0.2rem 1rem;
}
.product-item {
  display: flex;
  align-items: center;
  width: 100%;

  img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
  }

  .product-list-detail {
    flex: 1 1 0;
  }

  .product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: 0.875rem;
  }

  .product-category {
    vertical-align: middle;
    line-height: 1;
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 576px) {
  .product-item {
    flex-wrap: wrap;

    .image-container {
      width: 100%;
      text-align: center;
    }

    img {
      margin: 0 0 1rem 0;
      width: 100px;
    }
  }
}

.p-button-icon-only .p-button-label {
  visibility: collapse;
}

.p-datatable .p-datatable-tbody > tr .tx-primary {
  color: black;
}

.p-datatable .p-datatable-tbody > tr .tx-danger {
  color: red;
}

.p-datatable .p-datatable-tbody > tr .tx-info {
  color: purple;
}

.p-datatable .p-datatable-tbody > tr .tx-warning {
  color: orange;
}

.p-datatable .p-datatable-tbody > tr .tx-success {
  color: green;
}