<template>
  <Toolbar class="mb-12 m-0 p-2">
    <Toast position="top-center" />
    <template v-slot:start>
      <label class="grid col-2 p-0 m-1">Search</label>
      <div class="grid col-4 p-0 m-1">
        <div class="col-12 p-0 m-0"><InputText type="text" @change="searchList" class="p-inputtext-sm" v-model="searchTaxInvoiceID" placeholder="Tax Invoice Id" style="width: 100%" /></div>
      </div>
    </template>
    <template v-slot:end>
      <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="code"
    scrollHeight="400px"
    class="col-12"
    :lazy="true"
    ref="dt"
    selectionMode="single"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column field="code" header="Code"></Column>
    <Column field="taxInvoiceID" header="Tax Invoice ID"></Column>
  </DataTable>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>
  
  <script>
import { AccountingControllers } from '@/controllers/accounting/AccountingControllers';
import moment from 'moment';

export default {
  inject: ['dialogRef'],
  data: () => ({
    accounting: new AccountingControllers(),
    module: 'currency',
    datas: null,
    list: [],
    searchTaxInvoiceID: '',
    transactionDate: '',
    searchName: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.transactionDate = this.dialogRef.data.transactionDate;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 0,
    };
    this.getList();
  },
  methods: {
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.datas) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.datas);
        }
      } else {
        this.dialogRef.close();
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const params = {
        code: this.searchTaxInvoiceID,
        transactionDate: moment(this.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? 'TaxInvoiceID' + ',' + 'ASC' : 'TaxInvoiceID' + ',' + 'ASC',
      };
      let temp = await this.accounting.searchAccounting(this.module, params);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.datas = null;
      this.loading = false;
      this.list = temp.data;
      console.log(this.list);
    },
    onRowSelect(event) {
      this.datas = event.data;
      return event;
    },
    onRowUnselect(event) {
      this.datas = null;
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
  