@function section-margin($margin) {
  @return $margin * 15;
}
.main-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  .theme--dark & {
    background-color: $dark-background-default;
  }
  .theme--light & {
    background-color: $light-background-paper;
  }
}

.space-bottom {
  margin-bottom: section-margin($spacing1);
   @include breakpoints-down(md) {
    margin-bottom: section-margin($spacing1 / 1.5);
  }
}
.space-top {
  margin-top: section-margin($spacing1);
  @include breakpoints-down(md) {
    margin-top: section-margin($spacing1 / 1.5);
  }
}
.space-bottom-short {
  margin-bottom: section-margin($spacing1 / 1.5);
  @include breakpoints-down(md) {
    margin-bottom: section-margin($spacing1 / 2.5);
  }
}
.space-top-short {
  margin-top: section-margin($spacing1 / 1.5);
  @include breakpoints-down(md) {
    margin-top: section-margin($spacing1 / 2.5);
  }
}
.container-wrap {
  & > section {
    position: relative;
  }
}

.container-general {
  position: relative;
  padding-top: 32px;
  margin-bottom: $spacing5;
  margin-top: $spacing7;
  @include breakpoints-up(sm) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.full-screen-container {
  height: 100vh;
  display: flex;
}

.coloured-page {
  @include use-theme(background-color, $palette-primary-main, $palette-primary-dark);
}

.container-front {
  position: relative;
  z-index: 10;
}

.maintenance-icon {
  border-radius: 50%;
  margin: $spacing1;
  padding: $spacing2;
  &.v-icon {
    font-size: 48px;
  }
  @include use-theme(background, $light-divider, $dark-divider);
  @include breakpoints-up(sm) {
    padding: $spacing3;
    margin: $spacing3;
  }
  &.primary-color {
    color: $palette-primary-dark;
    background: $palette-primary-light;
  }
  &.secondary-color {
    color: $palette-secondary-dark;
    background: $palette-secondary-light;
  }
  &.accent-color {
    color: $palette-accent-dark;
    background: $palette-accent-light;
  }
}

.arrow {
  .v-btn i {
    @include rtl-flip;
  }
}
