<template>
  <Toolbar class="mb-12 m-0 py-0 p-2">
    <template v-slot:start>
      <div class="col-12 grid m-0 p-0 mt-1">
        <div class="col-12 md:col-5 field grid m-0 p-0">
          <label class="col-12 md:col-3 mt-2 m-0 p-1">Code</label>
          <div class="col-12 md:col-9 m-0 p-1">
            <InputText type="text" v-model="searchCode" placeholder="Payment Request" class="p-inputtext-sm" />
          </div>
        </div>
        <div class="col-12 md:col-7 field grid m-0 p-0">
          <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Customer</label>
          <div class="col-12 md:col-10 grid m-0 p-0">
            <div class="col-6 md:col-6 m-0 p-1">
              <InputText type="text" v-model="searchCustomerCode" placeholder="Customer Code" class="p-inputtext-sm" />
            </div>
            <div class="col-6 md:col-6 m-0 p-1">
              <InputText type="text" v-model="searchCustomerName" placeholder="Customer Name" class="p-inputtext-sm" />
            </div>
          </div>
        </div>
        <div class="col-12 md:col-5 field grid m-0 p-0">
          <label class="col-12 md:col-3 mt-2 m-0 p-1">Sales Person Code</label>
          <div class="col-12 md:col-9 grid m-0 p-0">
            <div class="col-12 md:col-5 m-0 p-1">
              <InputText v-model="searchSalesPersonCode" placeholder=" Sales Person Code" class="p-inputtext-sm" />
            </div>
            <div class="col-12 md:col-7 m-0 p-1">
              <InputText v-model="searchSalesPersonName" placeholder=" Sales Person Name" class="p-inputtext-sm" />
            </div>
          </div>
        </div>
        <div class="col-12 md:col-7 field grid m-0 p-0">
          <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
          <div class="col-12 md:col-10 grid m-0 p-0">
            <div class="col-6 md:col-6 m-0 p-1">
              <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
            </div>
            <div class="col-6 md:col-6 m-0 p-1">
              <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
            </div>
          </div>
        </div>
        <div class="col-12 md:col-12 field grid m-0 p-0 py-1" style="justify-content: right">
          <div class="col-6 md:col-2 mb-2">
            <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
          </div>
        </div>
      </div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="code"
    scrollHeight="flex"
    class="col-12"
    :lazy="true"
    selectionMode="multiple"
    :metaKeySelection="false"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column field="code" header="Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="branchCode" header="Branch Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="branchName" header="Branch Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="customerCode" header="Customer Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="customerName" header="Customer Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="customerAddress" header="Customer Address" style="min-width: 12em" :sortable="true"></Column>
    <Column field="salesPersonCode" header="Sales Person Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="salesPersonName" header="Sales Person Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="billToCode" header="Bill To Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="billToName" header="Bill To Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="billToAddress" header="Bill To Address" style="min-width: 12em" :sortable="true"></Column>
    <Column field="currencyCode" header="Currency Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="currencyName" header="Currency Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="exchangeRate" header="Exchange Rate" style="min-width: 12em" :sortable="true"></Column>
    <Column field="paymentTermCode" header="Payment Term Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="paymentTermName" header="Payment Term Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="paymentTermDays" header="Payment Term Days" style="min-width: 12em" :sortable="true"></Column>
    <Column field="dueDate" header="Due Date" style="min-width: 10em" :sortable="true"></Column>
    <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
    <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
  </DataTable>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { valdNull } from '@/utils/function';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    finance: new FinanceControllers(),
    list: [],
    datas: null,
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchCode: '',
    searchCustomerCode: '',
    searchCustomerName: '',
    searchSalesPersonCode: '',
    searchSalesPersonName: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    showList() {
      console.log(this.selectedRows);
    },
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.selectedRows) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.selectedRows);
        }
      } else {
        this.dialogRef.close();
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const field = {
        code: this.searchCode,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        customerCode: this.searchCustomerCode,
        customerName: this.searchCustomerName,
        salesPersonCode: this.searchSalesPersonCode,
        salesPersonName: this.searchSalesPersonName,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 || this.meta.sortOrder == null ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance(this.module, field);
      // this.totalRecords = temp.totalData;
      // this.datas = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    onRowSelect(event) {
      // this.datas = event.data;
      return event;
    },
    onRowUnselect(event) {
      // this.datas = null;
      // this.selectedRows= null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
