<template>
  <div class="root">
    <u-animate-container>
      <v-container class="carousel-header">
        <div class="px-sm-3">
          <h4 class="use-text-title2 text-capitalize">
            {{ $t('marketing.services_title') }}
          </h4>
          <p class="use-text-subtitle2">
            {{ $t('marketing.services_title_text') }}
          </p>
        </div>
        <!-- <v-btn :href="link.marketing.product" text class="view-all">
          {{ $t('common.btn_seeall') }}
          <v-icon>mdi-arrow-right</v-icon>
        </v-btn> -->
      </v-container>
      <div class="carousel-handle">
        <div v-if="loaded" class="carousel-wrap">
          <slick
            ref="slick"
            :options="slickOptions"
            @afterChange="handleAfterChange"
          >
            <div class="item">
              <div class="carousel-prop">
                <div />
              </div>
            </div>
            <div
              v-for="(item, index) in servicesList"
              :key="index"
              class="item"
            >
              <card
                :title="item.title"
                :desc="item.desc"
                :img="item.img"
                button="see detail"
              />
            </div>
          </slick>
        </div>
      </div>
      <div class="floating-artwork">
        <v-container class="fixed-width">
          <div class="artwork">
            <slider-art :fade="fade">
              <!-- <u-animate :offset="0" name="fadeIn" delay="0s" duration="0.3s">
                <div>
                  <deco-mountain />
                </div>
              </u-animate> -->
              <u-animate
                :offset="250"
                name="fadeInLeftShort"
                delay="0.3s"
                duration="0.5s"
              >
                <div>
                  <img
                    src="https://herbalputihindonesia.com/wp-content/uploads/2020/10/LOGO-HERBAL-PUTIH-01-768x768.jpg"
                    data-2d="https://herbalputihindonesia.com/wp-content/uploads/2020/10/LOGO-HERBAL-PUTIH-01-768x768.jpg"
                    data-3d="https://herbalputihindonesia.com/wp-content/uploads/2020/10/LOGO-HERBAL-PUTIH-01-768x768.jpg"
                    class="img-2d3d"
                    alt="facilities"
                  />
                </div>
              </u-animate>
            </slider-art>
            <nav class="arrow">
              <v-btn fab small aria-label="next" class="margin" @click="prev()">
                <v-icon>mdi-arrow-left</v-icon>
              </v-btn>
              <v-btn fab small aria-label="prev" class="margin" @click="next()">
                <v-icon>mdi-arrow-right</v-icon>
              </v-btn>
            </nav>
          </div>
        </v-container>
      </div>
    </u-animate-container>
  </div>
</template>

<style lang="scss" scoped>
@import './services-style.scss';
</style>

<script>
import imgAPI from '~/static/images/imgAPI'
import link from '~/static/text/link'
// import DecoMountain from '../Deco/Mountain'
import Card from '../../Cards/ServiceCard'
import SliderArt from '../SliderArt'

export default {
  components: {
    Card,
    // DecoMountain,
    SliderArt,
    Slick: () => import('vue-slick')
  },
  data() {
    return {
      loaded: false,
      imgAPI: imgAPI,
      link: link,
      fade: false,
      slickOptions: {
        dots: false,
        infinite: false,
        speed: 500,
        slidesToShow: 4,
        arrows: false,
        slidesToScroll: 1,
        variableWidth: true,
        responsive: [
          {
            breakpoint: 1100,
            settings: {
              slidesToShow: 3
            }
          },
          {
            breakpoint: 800,
            settings: {
              slidesToShow: 2
            }
          }
        ]
      },
      servicesList: [
        {
          title: 'Madu Hijau',
          desc:
            'Anti peradangan dan infeksi pada sistem pencernaan dan lambung.',
          img:
            'https://herbalputihindonesia.com/wp-content/uploads/2020/10/2-2.jpg'
          // img: imgAPI.marketing[21],
        },
        {
          title: 'Madu Gorilla',
          desc: 'Rahasia sang penakluk hati, tanpa effek samping.',
          img:
            'https://maduhijau.co.id/wp-content/uploads/2022/08/catalog-no-price-4.jpg'
          // img: imgAPI.marketing[22],
        },
        {
          title: 'Coming Soon',
          desc: 'Coming Soon.',
          img:
            'https://image.winudf.com/v2/image/bXBsLmNvbS5jb21pbmdzb29uX3NjcmVlbl8wXzE1MzQ3NTgxODFfMDQ0/screen-0.jpg?fakeurl=1&type=.webp'
          // img: imgAPI.marketing[22],
        }
      ]
    }
  },
  mounted() {
    this.loaded = true
  },
  methods: {
    next: function() {
      this.$refs.slick.next()
    },
    prev: function() {
      this.$refs.slick.prev()
    },
    handleAfterChange(event, slick, currentSlide) {
      if (currentSlide > 0) {
        this.fade = true
      } else {
        this.fade = false
      }
    }
  }
}
</script>
