<!DOCTYPE html>
<html {{ HTML_ATTRS }} lang="id">
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    <div
      id="preloader"
      style="
        position: fixed;
        z-index: 10000;
        background: #fafafa;
        width: 100%;
        height: 100%;
      "
    >
      <img
        style="
          width: 10%;
          opacity: 0.2;
          position: absolute;
          top: calc(50% - 50px);
          left: calc(50% - 50px);
        "
        src="https://herbalputihindonesia.com/wp-content/uploads/2020/10/LOGO-HERBAL-PUTIH-01-768x768.jpg"
        alt="loading"
      />
      <!-- <img
        style="
          opacity: 0.2;
          position: absolute;
          top: calc(50% - 50px);
          left: calc(50% - 50px);
        "
        src="/images/preloader.gif"
        alt="loading"
      /> -->
    </div>
    <div id="app_main" class="sunset">
      {{ APP }}
    </div>
  </body>
</html>
